<script>
export default {
	head() {
		return { title: "light0green - Works - " + this.page.title }
	},
  async asyncData ({ $content, params }) {
    const page = await $content('works', params.slug).fetch();
    const featuredProjects = await $content('works').limit(3).fetch();

    return {
      page,
      featuredProjects
    }
  }
}
</script>

<template>
	<main>
		<header class="cover" :style="`background-image: url(${page.cover})`">
			<h1>{{ page.title }}</h1>
			<h2 v-if="page.collaborator">x {{ page.collaborator }}</h2>
		</header>
		<article class="project-container">
			<nuxt-content :document="page" />
			<p v-if="page.wear.link !== ''"><a class="wear-button mono" :href="page.wear.link" :title="'Wear it digitally on ' + page.wear.store" target="_blank">Wear it digitally</a></p>
		</article>
	</main>
</template>

<style>
	.cover {
		background-position: top center;
		background-size: cover;
		height: 100vh;
		padding: var(--inset);
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.cover h1 {
		color: var(--brand);
		font-size: 5em;
		line-height: 1;
		font-weight: bold;
		word-wrap: break-word;
		text-shadow: 0 0 0.25em rgba(0,0,0,0.4);
	}
	.cover h2 {
		font-size: 2em;
	}
	.nuxt-content blockquote {
		text-align: center;
		font-size: 0.8em;
		display: block;
		padding: 0 var(--inset);
		margin: 1.5rem auto 4.5rem;
	}
	.nuxt-content blockquote p {
		margin-top: 0;
	}
	.wear-button {
		color: white;
		text-align: center;
		text-decoration: none;
		font-size: 1.6rem;
		border-radius: 9999px;
		border: 2px solid white;
		padding: 0.5rem 1.5rem;
		margin: 0 auto;
		display: block;
	}
	@media screen and (min-width: 1024px) {
		.cover h1 {
			font-size: 8em;
		}
	}
</style>