<script>
	export default {
		head() {
			return { title: "light0green - Works" }
		},
		data() { 
			return {
				filter: '',
				categories: [
					{ title: 'All', filter: '' },
					{ title: 'Collabs', filter: 'collaborations' },
					{ title: 'Commissions', filter: 'commissions' },
					{ title: 'Personal', filter: 'personal' },
					{ title: 'Exhibits', filter: 'exhibitions' }
				]
			}
		},
		computed: {
			filteredProjects() {
				return this.filter !== '' 
					? this.filterByCategory(this.filter)
					: this.projects;
			}
		},
		methods: {
			filterByCategory( cat ) {
				return this.projects.filter( p => p.category === cat );
			}
		},
		async asyncData ({ $content, isDev }) {
	    let projects = await $content('works').fetch();
	    if (!isDev) projects = projects.filter(p => !p.draft);
	    return {
	      projects
	    }
	  }
	}
</script>

<template>
	<main class="project-list-container">
		<ul class="tabs">
		  <li v-if="cat.filter === '' || filterByCategory(cat.filter).length > 0" v-for="cat in categories" :key="cat.filter">
		    <a :href="`#${cat.filter}`" @click="filter = cat.filter" :class="{ active: cat.filter === filter }" class="mono">
		      {{ cat.title }}
		    </a>
		  </li>
		</ul>
		<div>
			<nuxt-link :to="project.path" class="project-list-link" v-for="project in filteredProjects" :key="project.slug">
				<img :src="project.cover" />
				<span>{{ project.title }}</span>
			</nuxt-link>
		</div>
	</main>
</template>

<style scoped>
	.project-list-container {
		max-width: 1320px;
	}
	.tabs {
		list-style: none;
		padding: 0;
		display: flex;
	}
	.tabs li {
		flex-grow: 2;
		text-align: center;
	}
	.tabs li a {
		font-size: 1.2rem;
		padding: 1.5rem 1rem;
		display: block;
		border-bottom: 4px solid white;
	}
	.tabs li a:hover,
	.tabs li a.active,
	.tabs li a:active {
		border-color: rgba(255,255,255,0.6);
	}
	.project-list-link {
		color: white;
		text-align: center;
		text-decoration: none;
		font-size: 1.2rem;
		display: block;
		margin-bottom: 3rem;
		width: 100%;
		background-size: cover; 
		background-position: center;
	}
	.project-list-link:hover {
		color: rgba(255,255,255,0.6);
	}
	.project-list-link > img {
		width: 100%;
		height: 42vh;
		object-fit: cover;
	}
	.project-list-link span {
		display: block;
		padding: 0 var(--inset);
	}
	@media screen and (max-width: 500px) {
		.tabs {
			overflow: scroll visible;
		}
	}
</style>