<script>
	export default {
		props: ['stub', 'beforeIMG', 'afterIMG'],
		data: () => ({ visible: false }),
		computed: {
			before() {
				return this.stub ? `${this.stub}_before.jpg` : this.beforeIMG;
			},
			after() {
				return this.stub ? `${this.stub}_after.jpg` : this.afterIMG;
			}
		},
		methods: {
			cycle() {
				this.visible = !this.visible;
			}
		},
		mounted() {
			setTimeout(() => {
				this.visible = true;
				setInterval(this.cycle, 3000);
			}, Math.random() * 1500);
		}
	}
</script>

<template>
	<a target="_blank" class="before" :style="`background-image: url(${before});`">
		<transition name="fade">
			<img :src="after" class="after" :class="{ visible}" />
		</transition>
	</a>
</template>

<style scoped>
	.before {
		background-size: cover; 
		background-repeat: no-repeat;
		background-position: center center;
	}
	.after {
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: 0;
		transition: opacity 0.5s ease-in;
	}
	.after.visible {
		opacity: 1;
	}
</style>