@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300&display=swap');

:root {
	--brand: #C5FFD5;
  --dark: rgb(29,29,29);
  --inset: 1.5rem;
}

*[lang=zh],
.lang-zh,
.lang-zh-hans {
  font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", sans-serif;
}

/* RESET */

* {
	box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

strong,
h1,
h2,
h3,
h4 {
	font-weight: 700;
}

img {
	border: none;
	max-width: 100%;
}

body {
  min-height: 100vh;
}

@media (prefers-reduced-motion) {
  * {
    transition-duration: 0.1s;
  }
}

/* ELEMENTS */

body {
	color: #FFF;
	background-color: var(--dark);
	font-family: 'Open Sans', -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
	font-weight: 300;
	font-size: 10px;
	line-height: 1.5;
	overflow-x: hidden;
  /*text-rendering: optimizeLegibility;*/
}

a {
	color: var(--brand);
	outline: none;
}

a.mono {
	color: white;
	text-decoration: none;
	transition: color .4s ease;
}

a.mono img {
	opacity: 1;
	transition: opacity .4s ease;
}

a.mono:hover,
a.mono:active,
a.mono.active {
	color: rgba(255, 255, 255, 0.6);
	border-color: rgba(255,255,255,0.6);
}

a.mono:hover img,
a.mono:active img {
	opacity: 0.6;
}

/* LAYOUT */

img.fit {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.bar {
	font-size: 1.5rem;
	width: 100%;
	padding: var(--inset);
	padding-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.bar a {
	text-decoration: none;
}

.bar h2 {
	width: 100%;
	margin: 0 !important;
}

.container,
.project-list-container,
.project-container {
	margin: 0 auto;
	padding-bottom: 6rem;
}

/* ABOUT */

.about-container {
	padding: 0 var(--inset) 0;
}

.video-cover {
	position: relative;
}

.video-cover > video {
	width: 100%;
	height: 100vh; 
	object-fit: cover; 
	position: relative;
}

/* CONTENT */

.container,
.nuxt-content {
	font-size: 1.4rem;
	max-width: 100vw;
}

.nuxt-content {
	overflow: auto;
}

.nuxt-content img {
	width: 100%;
	max-width: 100vw;
	height: auto;
}

.nuxt-content img[src*="#smol"] {
	max-width: calc(100% - 3rem);
	margin: 0 1.5rem 1em 1.5rem;
	display: block;
	width: 100%;
}

.nuxt-content blockquote {
	border: 0;
	padding: 0;
	margin: 0;
}

.nuxt-content video {
	max-width: 100%;
	width: 100%;
	height: auto;
	display: block;
}

.container p,
.container h1,
.container h2,
.container h3,
.container h4 {
	margin: 1em auto 1em auto;
	padding: 0;
	display: block;
}

.project-container p,
.project-container h2,
.project-container h3,
.project-container blockquote,
.project-container ul {
	max-width: 1024px;
	margin: 1.5em auto;
	padding: 0 var(--inset);
}

.project-container ul li {
	line-height: 1.5;
}

/* MEDIA QUERIES */

@media screen and (min-width: 480px) {

	.nuxt-content img {
		/*min-height: 100vh;*/
		/*object-fit: cover;*/
	}

	.bar h2 {
		width: auto;
	}

}

@media screen and (min-width: 1024px) {

	:root {
		--inset: 3rem;
	}

	.container {
		max-width: 1024px;
	}

	.container .bar {
		padding: var(--inset) 0 calc(var(--inset) / 2);
	}

	.project-link img {
		filter: grayscale(100%);
		transform-origin: center;
		transition: all .3s ease-out;
	}

	.project-link:hover img {
		filter: none;
		mix-blend-mode: initial;
	}

	.nuxt-content img[src*="#smol"] {
		max-width: calc(1024px - 6rem);
		margin: 0 auto 1em auto;
	}

	.nuxt-content .gallery {
		max-width: 100%;
		display: flex;
	}

	.nuxt-content video.gallery-item {
		max-width: 33.3%;
	}

}