<script>
  export default {
    data: () => ({
      navExpanded: false
    }),
    computed: {
      isHome() {
        return this.$route.path === '/';
      },
      isProject() {
        return this.$route.params.slug !== undefined;
      },
      isWorks() {
        return this.$route.path === '/works';
      }
    }
  }
</script>

<template>
  <div>

    <header class="bar top-nav" :class="{ floating: !isWorks, overlay: isProject }">
      <section>
        <nuxt-link to="/works" title="Works" class="mono">works</nuxt-link>
      </section>
      <section>
        <nuxt-link to="/" title="Back to Homepage" class="home-link">
          <img v-if="!isHome" src="~/assets/icons/foxlady.svg" draggable="false" style="width: auto; height: 4rem;" />
        </nuxt-link>
      </section>
      <section>
        <nuxt-link to="/about" title="About" class="mono">about</nuxt-link>
      </section>
    </header>

    <Nuxt />

    <footer class="bar">
      <section>&copy; {{ new Date().getFullYear() }} Yifan Pu</section>
      <section class="social-links">
        <a href="mailto:light0green926@gmail.com" class="email-link mono" title="light0green926@gmail.com">
          <span>light0green926@gmail.com</span>
        </a>
        <a href="https://www.instagram.com/light0green/" class="mono" target="_blank" title="Instagram">
          <img src="~/assets/icons/IG_icon.png" />
        </a>
        <a href="https://connect.clo-set.com/portfolio/27247/collection" class="mono" target="_blank" title="CLO-SET">
          <img src="~/assets/icons/clo_icon.svg" />
        </a>
        <a href="https://www.linkedin.com/in/light0green/" class="mono" target="_blank" title="LinkedIn">
          <img src="~/assets/icons/linkedin_icon.png" />
        </a>
        <a href="https://weixin.qq.com/r/Ezi4oHvEkibtrT-D920B" target="_blank" title="WeChat" class="weixin-link mono">
          <img src="~/assets/icons/wechat_icon.png" />
          <span lang="zh">公众号：第二皮囊</span>
        </a>
      </section>
    </footer>

  </div>
</template>

<style>
  .top-nav,
  footer.bar {
    padding: 1.5rem var(--inset);
  }
  .top-nav {
    min-height: 8rem;
    flex-wrap: nowrap;
  }
  .top-nav.floating {
    position: absolute;
    z-index: 100;
  }
  .top-nav.overlay {
    background: linear-gradient(180deg, rgba(29,29,29,0.6) 0%, rgba(29,29,29,0) 100%);
  }
  .top-nav a img {
    width: var(--inset);
    height: auto;
    opacity: 1;
    transition: opacity .4s ease;
  }
  .top-nav a:hover img,
  .top-nav a.nuxt-link-exact-active:not(.home-link) img {
    opacity: 0.6;
  }
  .top-nav a:hover,
  .top-nav a.nuxt-link-exact-active:not(.home-link) {
    color: rgba(255, 255, 255, 0.6);
  }
  .social-links {
    display: flex;
    margin-top: 1.5rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .social-links a {
    min-width: 30px;
    height: 30px;
    margin: 0.5rem 0.75rem 0.5rem 0;
    flex-shrink: 0;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
  }
  .social-links .email-link {
    width: 100%;
  }
  .social-links a img {
    height: 30px;
    width:  30px;
  }
  .social-links .weixin-link img {
    margin-right: 1rem;
  }
  @media screen and (min-width: 768px) {
    .social-links {
      margin-top: 0;
    }
    .social-links .email-link {
      width: auto;
    }
  }
</style>