<script>
export default {
	head() {
		return { title: "light0green - About" }
	},
  async asyncData ({ $content }) {
    const page = await $content('about').fetch();
    // const clients = await $content('clients').fetch();
    // const collabs = await $content('works')
    // 	.where({ category: 'collaborations' })
    // 	.only(['collaborator', 'draft'])
    // 	.fetch();
    // let collaborators = [];
    // collabs.forEach(c => {
    // 	if (!collaborators.includes(c.collaborator) && !c.draft) 
    // 		collaborators.push(c.collaborator);
    // });
    const press = await $content('press').fetch();
    return { page, press }
  },
  mounted() {
  	window.addEventListener('mousemove', ( event ) => {
  		if (!this.$refs.glitchyfan) return false;
  		const position = event.screenX / window.innerWidth * 6;
  		this.$refs.glitchyfan.currentTime = position;
  	});
  },
  unmounted() {
  	window.onmousemove = null;
  }
}
</script>

<template>
	<main>

		<header class="video-cover">
			<video ref="glitchyfan" src="/yifanpufan.mp4" poster="/me.jpg" muted playsinline></video>
		</header> 
		
		<article class="container about-container">

			<nuxt-content :document="page" />

<!-- 			<div class="credits-container">
				<section class="credits">
					<h2>Worked with</h2>
					<ul>
						<li v-for="(c, index) in clients" :key="'client'+index">
							{{ c.name }}
						</li>
					</ul>
				</section>

				<section class="credits">
					<h2>Collaborators</h2>
					<ul>
						<li v-for="(c, index) in collaborators" :key="'collab'+index">
							{{ c }}
						</li>
					</ul>
				</section>
			</div> -->

			<section class="press">
				<h2>Press</h2>
				<ul>
					<li v-for="(p, index) in press" :key="'p'+index">
						<strong v-html="p.publication"></strong> &mdash; <span v-html="p.title"></span><br />
						<a :href="p.link" :title="p.title" target="_blank">{{ p.link }}</a>
					</li>
				</ul>
			</section>

		</article>

	</main>
</template>

<style scoped>
	.credits {
		width: 100%;
		margin: 3em 0;
	}
	.credits ul,
	.press ul {
		padding: 0;
		list-style: none;
	}
	.credits h2,
	.credits ul {
		text-align: center;
	}
	.credits ul li,
	.press ul li {
		margin-bottom: 1em;
	}
	.press ul li a {
		word-wrap: break-word;
	}
	@media screen and (min-width: 1024px) {
		.credits-container {
			display: flex;
		}
		.credits {
			width: 50%;
		}
	}
</style>