<script>
import BeforeAfter from '~/components/BeforeAfter';
export default {
	head() {
		return { title: "light0green - Home" }
	},
	components: { BeforeAfter },
  async asyncData ({ $content, $http }) {
    const home = await $content('home').fetch();
    const featured = await $content('works').where({ featured: true }).limit(4).fetch();
    const clients = await $content('clients').limit(9).fetch();
    const seenOn = await $content('seen_on').fetch();

    return {
      ...home,
      featured,
      clients,
      seenOn
    }
  }
}
</script>

<template>
	<main>
		<header class="video-cover">
			<video src="/foxlady.webm" poster="/foxlady_poster.jpg" autoplay loop muted playsinline></video>
			<nuxt-link to="/works/nine-tailed-fox/" class="foxlink"></nuxt-link>
			<div class="blurb">{{ blurb }}</div>
		</header>

		<div class="container">
			<template v-if="show_current_exhibition">
				<header class="bar">
					<section>
						<h2>Current Exhibition &mdash; {{ exhibition.title }}</h2>
					</section>
					<section v-if="exhibition.link">
						<a :href="exhibition.link" :title="exhibition.title" target="_blank">More info</a>
					</section>
				</header>
				<aside v-if="exhibition.poster">
					<img :src="exhibition.poster" />
				</aside>
			</template>

			<header class="bar" id="featured">
				<section>
					<h2>Featured Works</h2>
				</section>
				<section>
					<nuxt-link to="/works">Browse all</nuxt-link>
				</section>
			</header>
			<aside class="showcase">
				<nuxt-link class="project-link featuredCol" 
									 :to="`/works/${project.slug}`" 
									 :title="project.title" 
									 v-for="project in featured" 
									 :key="project.slug">
					<img :src="project.cover" class="fit" draggable="false" />
				</nuxt-link>
			</aside>

			<header class="bar">
				<section>
					<h2>Digital Fitting</h2>
				</section>
			</header>
			<aside class="showcase">
				<BeforeAfter :href="look.link" :title="`Worn by ${look.model} ー Browse on ${look.store}`" class="wornbyCol" :stub="look.stub" :beforeIMG="look.before" :afterIMG="look.after" v-for="look, m in wornby" :key="`wornby${m}`" />
			</aside>

			<header class="bar">
				<section>
					<h2>Clients &amp; Collaborators</h2>
				</section>
			</header>
			<aside class="showcase logos">
				<div v-for="client in clients" :key="client.name">
					<template><img :src="`/_brands/clients/${client.slug}.png`" :alt="client.name + ' logo'" /></template>
				</div>
			</aside>

			<header class="bar">
				<section>
					<h2>Seen on</h2>
				</section>
			</header>
			<aside class="showcase logos">
				<div :title="source.publication" v-for="source in seenOn" :key="source.slug">
					<img :src="`/_brands/press/${source.slug}.png`" :alt="source.publication + ' logo'" />
				</div>
			</aside>

		</div>
	</main>
</template>

<style>
	.foxlink {
		width: 40vw;
		left: 30vw;
		height: 40%;
		top: 15%;
		display: block;
		position: absolute;
	}
	.blurb {
		font-size: 1rem;
		text-align: center;
		width: 100%;
		color: white;
		position: absolute;
		left: 0; 
		bottom: 0;
		padding: var(--inset);
		padding-bottom: 1rem !important;
		transition: filter .4s ease-in;
	}
	.blurb h4 {
		line-height: 1.5em;
	}
	.blurb a {
		color: var(--brand);
	}
	/*
		.blurb:hover {
		filter: grayscale(0%);
	}*/
	.showcase {
		display: flex;
		flex-direction: column;
		padding: 0 1.5rem;
	}
	.showcase a,
	.showcase div {
		display: flex;
		justify-content: center;
		margin-bottom: 1rem;
	}
	.showcase .featuredCol,
	.showcase .wornbyCol {
		overflow: hidden;
		height: 600px;
	}
	.logos {
		flex-wrap: wrap;
		padding: 0 4.5rem;
	}
	@media screen and (min-width: 480px) {
		.foxlink {
			width: 20vw;
			left: 40vw;
		}
		.showcase {
			display: inline-grid;
			width: 100%;
			grid-auto-flow: column;
			gap: 0 calc(var(--inset) / 3);
		}
		.showcase a,
		.showcase div {
			margin-bottom: 0;
		}
		.showcase .featuredCol,
		.showcase .wornbyCol {
			overflow: hidden;
			height: auto;
		}
		.showcase.logos {
			padding: 0 var(--inset);
			grid-auto-flow: initial;
			grid-template-columns: repeat(4, 1fr) !important;
		}
		.logos {
			gap: 0 var(--inset);
		}
		.logos div {
			height: auto;
			display: block;
		}
	}
	@media screen and (min-width: 1024px) {
		.blurb {
			filter: grayscale(100%) brightness(0.5);
		}
	}
</style>