<script>
	export default {
		name: "collection",
		props: ['stub', 'format', 'items', 'speed'],
		data: () => ({ look: 1, preloading: true }),
		computed: {
			url() {
				return `${this.stub}${this.look}.${this.format || 'png'}`;
			},
			firstImage() {
				return `${this.stub}1.${this.format || 'png'}`;
			}
		},
		methods: {
			cycle() {
				this.look += 1;
				if (this.look > this.items) this.look = 1;
			},
			loaded( event ) {
				if (this.preloading) {
					this.cycle();
					if (this.look === this.items - 1) {
						this.preloading = false;
						setInterval(this.cycle, this.speed || 500);
					}
				}
			}
		}
	}
</script>

<template>
	<figure>
		<img class="preloader" :src="url" @load="loaded" />
		<transition name="fade">
			<img :src="preloading ? firstImage : url" />
		</transition>
	</figure>
</template>

<style scoped>
	figure {
		max-width: 960px;
		margin: 0 auto;
	}
	.preloader {
		display: none;
	}
</style>